@{
  Layout ="_Layout";
}

@model Factory.Models.Engineer;

<h3>Meet your engineer: <strong>@Html.DisplayFor(model => model.EngineerName)</strong></h3>


<h4>@Html.DisplayFor(model => model.EngineerName)'s licenses:</h4>

<ul>
  @foreach (var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Machine.MachineName}", "Details", "Machine", new { id = join.Machine.MachineId })</li>
  }
</ul>

<p>@Html.ActionLink("Assign a new license", "AddMachine", new { id = Model.EngineerId }, new { @class = "btn btn-primary btn-lg col-6" })</p>
<p>@Html.ActionLink("Edit Profile", "Edit", new { id = Model.EngineerId }, new { @class = "btn btn-warning btn-lg col-6" })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId }, new { @class = "btn btn-danger btn-lg col-6" })</p>
<p>@Html.ActionLink("Go Back", "Index", "Engineer", null, new { @class = "btn btn-secondary btn-lg col-6" })</p>