@{
  Layout ="_Layout";
}

@model Factory.Models.Engineer;

<h4>Edit @Html.DisplayFor(model => model.EngineerName)'s Profile:</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.EngineerName)
  @Html.EditorFor(model => model.EngineerName)

  <input type="submit" value="Save" />
}

<h4>Manage @Html.DisplayFor(model => model.EngineerName)'s licenses:</h4>

<ul>
  @foreach (var join in Model.JoinEntities)
  {
    <li>
      @join.Machine.MachineName
      @using (Html.BeginForm("DeleteMachine", "Engineer"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" class="btn btn-danger btn-sm" value="Delete"/>
      }
    </li>
  }
</ul>

<p>@Html.ActionLink("Go Back", "Index")</p>

